<app-stepper [stepsData]="steps"></app-stepper>
@if (steps==0) {<div class="w-75 m-auto my-5">
  <h4>Please send your email to reset your password:</h4>
  <form [formGroup]="forgotPassword" (ngSubmit)="sendEmail()">



    <input [ngClass]="{

      'is-valid':!forgotPassword.get('email')?.errors && (forgotPassword.get('email')?.dirty || forgotPassword.get('email')?.touched),
      'is-invalid':forgotPassword.get('email')?.errors && (forgotPassword.get('email')?.dirty || forgotPassword.get('email')?.touched)


  }" formControlName="email" type="email" class="form-control my-3" placeholder="Type your email">
    <alertError [formName]="forgotPassword" [controlName]="'email'" />

    @if(forgotPasswordDone)
    {
    <div class="text-success fw-semibold my-3">forgotPassword Done</div>
    }
    @else
    {
    <div class="text-danger fw-semibold my-3">{{errorMsg}}</div>
    }


    <div class="d-flex justify-content-between">
      <app-button [disabledData]='forgotPassword.invalid || isSubmitBtn'>
        @if(isSubmitBtn)
        {
        <i class="fa-solid fa-spinner fa-spin"></i>
        }
        @else
        {
        Send

        }
      </app-button>


    </div>



  </form>
</div>}@else if (steps==1) {<div class="w-75 m-auto my-5">
  <h4>Please verify your reset code:</h4>
  <form [formGroup]="verifyResetCode" (ngSubmit)="verifyCode()">



    <input [ngClass]="{

      'is-valid':!verifyResetCode.get('resetCode')?.errors && (verifyResetCode.get('resetCode')?.dirty || verifyResetCode.get('resetCode')?.touched),
      'is-invalid':verifyResetCode.get('resetCode')?.errors && (verifyResetCode.get('resetCode')?.dirty || verifyResetCode.get('resetCode')?.touched)


  }" formControlName="resetCode" type="text" class="form-control my-3" placeholder="Type your verify code">
    <alertError [formName]="verifyResetCode" [controlName]="'resetCode'" />

    @if(verifyResetCodeDone)
    {
    <div class="text-success fw-semibold my-3">verifyResetCode Done</div>
    }
    @else
    {
    <div class="text-danger fw-semibold my-3">{{errorMsg}}</div>
    }


    <div class="d-flex justify-content-between">
      <app-button [disabledData]='verifyResetCode.invalid || isSubmitBtn'>
        @if(isSubmitBtn)
        {
        <i class="fa-solid fa-spinner fa-spin"></i>

        }
        @else
        {
        Verify

        }
      </app-button>


    </div>



  </form>
</div>}@else if(steps==2) {<div class="w-75 m-auto my-5">
  <h4>Please reset your password:</h4>
  <form [formGroup]="resetPassword" (ngSubmit)="resetMyPassword()">



    <input hidden [ngClass]="{


      'is-valid':!resetPassword.get('email')?.errors && (resetPassword.get('email')?.dirty || resetPassword.get('email')?.touched),
      'is-invalid':resetPassword.get('email')?.errors && (resetPassword.get('email')?.dirty || resetPassword.get('email')?.touched)


  }" formControlName="email" type="email" class="form-control my-3" placeholder="Type your email">
    <alertError [formName]="resetPassword" [controlName]="'email'" />



    <input [ngClass]="{

      'is-valid':!resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.dirty || resetPassword.get('newPassword')?.touched),
      'is-invalid':resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.dirty || resetPassword.get('newPassword')?.touched)


  }" formControlName="newPassword" type="password" class="form-control my-3" placeholder="Type your new password">
    <alertError [formName]="resetPassword" [controlName]="'password'" />


    @if(resetPasswordDone)
    {
    <div class="text-success fw-semibold my-3">resetPassword Done</div>
    }
    @else
    {
    <div class="text-danger fw-semibold my-3">{{errorMsg}}</div>
    }


    <div class="d-flex justify-content-between">
      <app-button [disabledData]='resetPassword.invalid || isSubmitBtn'>
        @if(isSubmitBtn)
        {
        <i class="fa-solid fa-spinner fa-spin"></i>
        }
        @else
        {
        Reset

        }
      </app-button>


    </div>



  </form>
</div>}